.areaTask{
    padding-left: 10px;
    background-color: rgb(235, 233, 233);
    width: 400px;
    height: 250px;
    border-radius: 20px;
    

    .tituloTarefa{
        display: flex;
        justify-content: center;
        text-align: center;
        color: black;
        padding-top: 5px;
        padding-bottom: 5px;
        
    }

    dl{
        display: flex;
        flex-direction: column;
        padding-top: 20px;

        .areaUsuario{
            display: flex;

            dt{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-weight: 800;
            }

            dd {
                max-width: 20px;
                padding-left: 5px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;                
                
            }
        }


        .areaDescricao{
            display: flex;

            dt{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: large;
                font-weight: 800;
            }

            dd {
                padding-left: 5px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;                
                
            }
            
        }

        .areaSetor{
            display: flex;

            dt{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: large;
                font-weight: 800;
            }

            dd {
                padding-left: 5px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;                
                
            }
        }
        
        .areaPrioridade{
            display: flex;

            dt{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-weight: 800;
            }

            dd {
                padding-left: 5px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;                
                
            }
        }

     
    }

    .conteinerBotoes{
        display: flex;
        justify-content: start;
        padding-top: 20px;
        column-gap: 10px;

        .linkAtualizar {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            background-color: rgb(0, 0, 0);
            border-radius: 10px;
            color: white;
            width: 50px;
            
        }
        
        button{
            background-color: rgb(39, 39, 39);
            color: white;
            border: none;
            border-radius: 10px;
            width: 60px;
            height: 30px;
        }


        
    }

    .checkBox{
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        

        .statusBox{
            display: flex;
            flex-direction: column;
        }

        select{
            background-color: rgb(177, 177, 177);
            border-radius: 5px;
            height: 30px;
            width: 140px;
        }  
        
        
        .conteinerBotaoStatus{
            display: flex;
            justify-content: start;
            align-items: end;
            height: 50px;
            width: 180px;

            .botaoAlterarStatus{
                background-color: rgb(9, 79, 170);
                color: white;
                width: 100px;
                height: 30px;
                border-radius: 5px;
                border: none;
                

            }
        }
       
    }



}

